* {
	margin: 0;
	padding: 0;
	box-size: border-box;
}

body {
	background: #eee;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 50px 0 auto;
}

header {
	font-size: 1.4rem;
	font-weight: bold;
}

main {
	margin-top: 15px;
	text-align: center;
	background: #ddd;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px black;
}

table, th, td {
	font-size: 1.2rem;
	border:  solid 1px black;
	border-collapse: collapse;
	padding: 5px 20px;
}

table h2 {
	font-size: 1.2rem;
	font-weight: bold;
}

table ul {
	list-style: none;
}

td {
	text-align: justify;
}

@media screen and (max-width: 768px) {
	header {
		font-size: 1.2rem;
	}
	table td {
		font-size: 1rem;
	}
}